# Exclude generated minecraft server stuff,
# include hand crafted server configuration
/mc-*/*
/bungeecord/*
PluginMetrics/

/mc-*/plugins/*
!/mc-*/plugins
!/mc-*/plugins/*.jar

/mc-*/plugins/WorldGuard/*
!WorldGuard

!AdvancedPortals

!banned-ips.json
!banned-players.json
!bukkit.yml
!log4j2.xml
!ops.json
!server.properties
!spigot.yml
!whitelist.json
!config.yml

.DS_Store
