# Exclude generated minecraft server stuff,
# include hand crafted server configuration
/mc-lobby/*
/mc-creative/*
/mc-survival/*

!/*/banned-ips.json
!/*/banned-players.json
!/*/log4j2.xml
!/*/osp.json
!/*/server.properties
!/*/whitelist.json

# Exclude generated BungeeCord server stuff
# include hand crafted server configuration
/bungeecord/*

!/bungeecord/config.yml
